.modal-body form{
    padding-right: 100px;
    text-align: right;
}

#hero {
    
    height: 200px;
    background-image: url("../images/hero.jpg");
    background-repeat:no-repeat;
    background-position: 50% 60%;
    background-size: 100%;
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 50px;
}
